@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root {
    --primary-colour: #fde047;
    --width-break: 600px;
}

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: black;
}

nav {
    background-color: var(--primary-colour);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

#txt-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: 1.25rem;
    font-family: inherit;
}

#btn-translate {
    background-color: var(--primary-colour);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid black;
    margin-top: 0.25rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-colour);
    text-align: center;
    font-size: 1.25rem;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}

